#services {
	background: #3c0054;
}

#services-flex-container {
	display: flex;
}

.service-card-container {
	width: 25rem;
	padding: 3rem;
}
.service-card {
	border-radius: 7px 7px 3px 3px;
	overflow: hidden;
	transition: all 0.25s ease-in-out;
	background-color: #322f3d;
	background-color: black;
	box-shadow: 0.25rem 0.25rem 5px rgba(0, 0, 0, 0.25);
}
.service-card-container:hover .service-card {
	background-color: #2f89fc;
}
.service-card-container:hover * {
	color: black;
}
.card-bg {
	height: 7.5rem;
	overflow: hidden;
}
.card-bg-img {
	transition: all 0.5s ease-in-out;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.service-card-container:hover .card-bg-img {
	transform-origin: 50% 50%;
	transform: scale(2);
	filter: brightness(0.25);
}
.tech-title {
	padding: 0.5rem 1rem;
	padding-top: 1rem;
	font-size: 1.5rem;
}
.tech-description {
	padding: 0.5rem 1rem;
	font-size: 0.75rem;
}
.tech-description p {
	letter-spacing: 0.5px;
}
.service-card-container:hover .tech-description p {
	text-shadow: 0 0 2px black;
}
.tech-description p:last-child {
	letter-spacing: 1px;
	padding: 0.75rem 0.5rem;
	font-weight: bold;
	text-align: center;
}

#serv-cards-container::-webkit-scrollbar {
	display: none;
}

#serv-cards-container {
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 0 2rem 5rem 2rem;

	overflow-x: hidden;
	overflow-y: auto;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;

	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
}

.service-card-new {
	background-color: black;
	border-radius: 1rem;
	overflow: hidden;
	margin: 0.5rem 2rem;
	display: grid;
	grid-template-columns: 4rem 1fr;
}

.service-title-div {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #e67e22;
	border-radius: 0 0 0.5rem 0.5rem;
	padding: 0.5rem 1rem;
}

.service-title-span {
	letter-spacing: 0.1rem;
	font-size: 1.25rem;
}
.service-img-container {
	width: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.service-img-container img {
	border-radius: 0.5rem 0.5rem 0 0;
	width: 3rem;
	height: 3rem;
	object-fit: contain;
	padding: 0.1rem;
	margin: 0.25rem;
}

.service-card-new p {
	padding: 0.75rem 2rem;
	text-align: center;
	font-size: 0.85rem;
}

@media screen and (max-width: 1100px) {
	#serv-cards-container {
		grid-template-columns: 1fr 1fr;
		padding: 1rem;
	}
	.service-card-new {
		background-color: black;
		border-radius: 1rem;
		overflow: hidden;
		margin: 0.5rem 1rem;
	}
}

@media screen and (max-width: 980px) {
	#serv-cards-container {
		grid-template-columns: 1fr 1fr;
		padding: 1rem;
	}
	.service-card-new {
		background-color: black;
		border-radius: 1rem;
		overflow: hidden;
		margin: 0.5rem 1rem;
	}
}

@media screen and (max-width: 768px) {
	#serv-cards-container {
		grid-template-columns: 1fr;
		padding: 1rem;
	}

	.service-card {
		grid-template-columns: 1fr;
	}

	.service-card img {
		width: 70px;
	}
}
