#contact {
	background: #1c1c28;
}

#contact-details-container {
	display: grid;
	grid-template-columns: 4fr 6fr;
	grid-template-areas: "contactForm contactInfo";
}

#contact-form-container {
	margin: 0 3rem;
	grid-area: contactForm;
}

#contact-form-container .title {
	margin: 1rem;
	font-family: "Dosis", sans-serif;
	font-size: 2rem;
	word-spacing: 1.25rem;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
}

#contact-form-container button {
	margin: 1rem;
	font-family: "Dosis", sans-serif;
	font-size: 2rem;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	color: white;
	text-shadow: 0 0 5px black;
}

#contact-info-container {
	display: flex;
	align-items: center;
}

#social-links-container {
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin: 2rem 0;
	display: flex;
	justify-content: space-around;
	background: linear-gradient(90deg, #008cff, #ffffff, #008cff);
	background: linear-gradient(90deg, #490074, #ffffff, #490074);
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.9);
}

#social-links-container img {
	width: 3rem;
	height: 3rem;
	object-fit: contain;
}

.contact-info {
	display: grid;
	grid-template-columns: 4rem 1fr;
	margin: 1rem 2rem;
	cursor: pointer;
}
.contact-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-info img {
	width: 3rem;
	height: 3rem;
	object-fit: contain;
}
.contact-info h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Orbitron", sans-serif;
	letter-spacing: 0.25rem;
}

#msgBox {
	padding: 1.2rem;
	width: 50%;
}

.cust-input-container {
	position: relative;
	transition: all 0.25s ease;
	margin: 2rem;
	overflow: hidden;
}

.cust-input-container input,
.cust-input-container textarea {
	border: none;
	outline: none;

	font-size: 1rem;
	letter-spacing: 0.1rem;

	background-color: rgba(0, 255, 0, 0.5);
	background-color: rgba(0, 0, 0, 0);

	padding: 1rem;
	padding-top: 1.5rem;

	width: 100%;
	height: 100%;
}

.cust-input-container textarea {
	padding-top: 2.5rem;
}

.custom-label {
	position: absolute;
	top: 0;
	left: 0;

	padding: 0 1rem;

	width: 100%;
	height: 100%;

	pointer-events: none;

	border-bottom: 0.25rem solid black;
}
.custom-placeholder {
	font-family: "Dosis", sans-serif;
	letter-spacing: 0.25rem;
}

.custom-label::after {
	content: "";
	position: absolute;
	left: 0;

	width: 100%;
	height: 100%;

	transform: translateX(100%);

	transition: all 0.25s ease;
}

.cust-input-container input:focus + .custom-label .custom-placeholder,
.cust-input-container input:valid + .custom-label .custom-placeholder {
	transform: translateX(-100%);
	font-size: 0.75rem;
}

.cust-input-container textarea:focus + .custom-label .custom-placeholder,
.cust-input-container textarea:valid + .custom-label .custom-placeholder {
	transform: translateX(-100%);
	font-size: 0.75rem;
}

.cust-input-container input:invalid + .custom-label::after,
.cust-input-container textarea:invalid + .custom-label::after {
	border-bottom: 0.25rem solid red;
}

.cust-input-container input:valid + .custom-label::after,
.cust-input-container textarea:valid + .custom-label::after {
	border-bottom: 0.25rem solid green;
}

.cust-input-container input:focus + .custom-label::after,
.cust-input-container textarea:focus + .custom-label::after {
	border-bottom: 0.25rem solid orange;
}

.cust-input-container input:invalid + .custom-label,
.cust-input-container textarea:invalid + .custom-label {
	background-color: #1c1c28;
}
.cust-input-container input:focus + .custom-label,
.cust-input-container textarea:focus + .custom-label {
	background-color: rgba(0, 0, 0, 0);
}

.cust-input-container input:focus + .custom-label::after,
.cust-input-container input:valid + .custom-label::after,
.cust-input-container textarea:focus + .custom-label::after,
.cust-input-container textarea:valid + .custom-label::after {
	transform: translateY(0%);
}

.custom-placeholder {
	position: absolute;
	left: 0.25rem;
	bottom: 0.25rem;
	transition: all 0.25s ease;
}

/* IP DETAILS */
#ipDetailsContainer {
	display: block;
	grid-template-columns: 1fr;
	grid-column-gap: 1rem;
	padding: 1rem;

	background: rgba(255, 255, 255, 0.1);
	margin: 1rem 2rem;
	border-radius: 0.5rem;
	position: relative;
	padding-top: 1.5rem;
}

#ipDetailsLabel {
	position: absolute;
	top: -0.75rem;
	width: 100%;
	text-align: center;
}

#ipstackA {
	position: absolute;
	bottom: -1rem;
	width: 100%;
	text-align: center;
}

#ipDetailsLabel span {
	margin: 0 auto;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 2px;

	background-color: #008cff;
	padding: 0.25rem 1.5rem;
	border-radius: 1000px;
}

#ipAddressContainer {
	background-color: rgba(0, 140, 255, 0.75);
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4rem 4rem 0.5rem 0.5rem;
	padding: 0.5rem 1rem;
	margin: 1rem 0;
	text-align: center;
}
#ipAddressLabel {
	font-size: 0.75rem;
	letter-spacing: 2px;
	width: 100%;
}
#ipAddressContainer h3 {
	margin-top: 0.5rem;
	letter-spacing: 2px;
	font-size: 1.75rem;
	text-align: center;
}

#iplocationContainer {
	background-color: rgba(0, 140, 255, 0.75);
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.5rem 0.5rem 4rem 4rem;
	padding: 0.5rem 1rem;
}
#iplocationLabel {
	font-size: 0.75rem;
	letter-spacing: 2px;
	text-align: center;
}
#iplocationContainer img {
	height: 1rem;
	object-fit: contain;
	margin-right: 1rem;
	border-radius: 0.25rem;
	overflow: hidden;
}
#iplocationContainer h3 {
	text-align: center;
	margin-top: 0.5rem;
	letter-spacing: 2px;
	font-size: 1rem;
}

@media screen and (max-width: 712px) {
	#contact-details-container {
		grid-template-columns: 1fr;
		grid-template-areas:
			"contactInfo"
			"contactForm";
	}

	#contact-info-container {
		margin: 2rem 5rem;
	}

	.contact-info h3 {
		padding-top: 2rem;
	}
}
