#contact {
	background: #1c1c28;
	padding: 6rem 0;
	padding-bottom: 0;
	height: auto;
}

#contact-details-container {
	display: grid;
	grid-template-columns: 4fr 5fr;

	border-radius: 10px 0 0 10px;
	padding-top: 2rem;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	overflow: hidden;
	margin: 0 2rem;
	margin-bottom: 2rem;
}

@media (max-width: 1064px) {
	#contact-details-container {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 712px) {
	#contact-details-container {
		grid-template-columns: 1fr;
		// grid-template-areas:
		// 	"contactInfo"
		// 	"contactForm";
	}

	#contact-info-container {
		margin: 2rem 5rem;
	}

	.contact-info h3 {
		padding-top: 0rem;
	}
}
