@keyframes fade1 {
	0% {
		opacity: 1;
	}
	15% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade2 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade3 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade4 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade5 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade6 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade7 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	45% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
