#home {
	position: relative;
	width: 100vw;
	overflow-y: hidden;
}

#overviewContainer {
	display: grid;
	grid-template-rows: 30vh 20vh 30vh;
	width: 100vw;
	max-height: calc(100vh - 5rem);
	z-index: 10000;
	overflow: visible;
}

#overviewContainer svg,
#overviewElementsContainer svg {
	width: 100%;
}

#overviewElementsContainer {
	z-index: 1000;
	display: flex;
	justify-content: space-around;
}
#overviewElementsContainer > div {
	width: 15%;
}

.pageDividerSvg {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999;
	width: 100vw;
}
.pageDividerSvg svg {
	width: 100vw;
	position: absolute;
	bottom: -5px;
}

@media screen and (max-width: 980px) {
	/* #nameTitleSvgContainer {
		padding: 0 25% 0 5%;
	} */
	#overviewElementsContainer > div {
		width: 20%;
	}
}

@media screen and (max-width: 768px) {
	/* #nameTitleSvgContainer {
		padding: 0 7% 0 7%;
	} */
	#overviewElementsContainer > div {
		width: 25%;
	}
}
