#home {
	position: relative;
	width: 100vw;
	overflow-y: hidden;
}

#overviewContainer {
	display: grid;
	width: 100vw;
	max-height: calc(100vh - 5rem);
	z-index: 10000;
	overflow: hidden;
}
#nameTitleSvgContainer {
	padding: 0 60% 0 5%;
	z-index: 1000;
}

#nameTitleSvgContainer svg {
	/* transform: matrix(1.5, 0, 0, 1.5, 0, 0); */
}

#overviewContainer svg,
#overviewElementsContainer svg {
	width: 100%;
}
/* 
#overviewContainer svg > *:nth-child(1) {
	-webkit-animation: slide-lToR 0.5s 1s ease-in-out both;
	animation: slide-lToR 0.5s 1s ease-in-out both;
}
#overviewContainer svg > *:nth-child(2) {
	-webkit-animation: slide-lToR 0.5s 1.2s ease-in-out both;
	animation: slide-lToR 0.5s 1.2s ease-in-out both;
}
#overviewContainer svg > *:nth-child(3) {
	-webkit-animation: slide-lToR 0.5s 1.4s ease-in-out both;
	animation: slide-lToR 0.5s 1.4s ease-in-out both;
}
#overviewContainer svg > *:nth-child(4) {
	-webkit-animation: slide-lToR 0.5s 1.6s ease-in-out both;
	animation: slide-lToR 0.5s 1.6s ease-in-out both;
} */
#overviewElementsContainer {
	z-index: 1000;
	display: flex;
	justify-content: space-around;
}
#overviewElementsContainer > div {
	width: 15%;
}

.pageDividerSvg {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999;
	width: 100vw;
}
.pageDividerSvg svg {
	width: 100vw;
	position: absolute;
	bottom: -5px;
}

@media screen and (max-width: 980px) {
	#nameTitleSvgContainer {
		padding: 0 25% 0 5%;
	}
	#overviewElementsContainer > div {
		width: 20%;
	}
}

@media screen and (max-width: 768px) {
	#nameTitleSvgContainer {
		padding: 0 7% 0 7%;
	}
	#overviewElementsContainer > div {
		width: 25%;
	}
}
