#expOverviewContainer *,
#projOverviewContainer * {
	overflow: visible;
}

#expOverviewContainer svg > *,
#projOverviewContainer svg > * {
	transition: all 0.75s ease-in-out;
}
#expOverviewContainer svg > *:nth-child(1) {
	-webkit-animation: circle1 10s ease-in-out infinite;
	animation: circle1 10s ease-in-out infinite;
}
#expOverviewContainer svg > *:nth-child(2) {
	-webkit-animation: circle2 10s ease-in-out infinite;
	animation: circle2 10s ease-in-out infinite;
}
#expOverviewContainer svg > *:nth-child(3) {
	transform-origin: 50% 50%;
	-webkit-animation: circle3 2s ease-in-out infinite;
	animation: circle3 2s ease-in-out infinite;
}
#expOverviewContainer svg > *:nth-child(6) {
	transform-origin: 50% 50%;
	-webkit-animation: ovValue 2s ease-in-out infinite;
	animation: ovValue 2s ease-in-out infinite;
}

#projOverviewContainer svg > *:nth-child(1) {
	-webkit-animation: circle1 10s 5s ease-in-out infinite;
	animation: circle1 10s 5s ease-in-out infinite;
}
#projOverviewContainer svg > *:nth-child(2) {
	-webkit-animation: circle2 10s 5s ease-in-out infinite;
	animation: circle2 10s 5s ease-in-out infinite;
}
#projOverviewContainer svg > *:nth-child(3) {
	transform-origin: 50% 50%;
	-webkit-animation: circle3 2s 1s ease-in-out infinite;
	animation: circle3 2s 1s ease-in-out infinite;
}
#projOverviewContainer svg > *:nth-child(6),
#projOverviewContainer svg > *:nth-child(7),
#projOverviewContainer svg > *:nth-child(8),
#projOverviewContainer svg > *:nth-child(9) {
	transform-origin: 50% 50%;
	-webkit-animation: ovValue 2s 1s ease-in-out infinite;
	animation: ovValue 2s 1s ease-in-out infinite;
}

/*
	//////////////////////////////////////////////
		Individual elements custom animations
	//////////////////////////////////////////////
*/
/* Circle 1 */
@-webkit-keyframes circle1 {
	0%,
	5%,
	95%,
	100% {
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		transform: scale(1) translate3d(0, 0, 0);
	}
	50% {
		-webkit-transform: scale(0.5) translate3d(140%, 15%, 10px);
		transform: scale(0.5) translate3d(140%, 15%, 10px);
	}
}
@keyframes circle1 {
	0%,
	5%,
	95%,
	100% {
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		transform: scale(1) translate3d(0, 0, 0);
	}
	50% {
		-webkit-transform: scale(0.5) translate3d(140%, 15%, 10px);
		transform: scale(0.5) translate3d(140%, 15%, 10px);
	}
}
/* Circle 2 */
@-webkit-keyframes circle2 {
	0%,
	5%,
	95%,
	100% {
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		transform: scale(1) translate3d(0, 0, 0);
	}
	50% {
		-webkit-transform: scale(1.5) translate3d(-70%, -11%, 10px);
		transform: scale(1.5) translate3d(-70%, -11%, 10px);
	}
}
@keyframes circle2 {
	0%,
	5%,
	95%,
	100% {
		-webkit-transform: scale(1) translate3d(0, 0, 0);
		transform: scale(1) translate3d(0, 0, 0);
	}
	50% {
		-webkit-transform: scale(1.5) translate3d(-70%, -11%, 10px);
		transform: scale(1.5) translate3d(-70%, -11%, 10px);
	}
}
/* Circle 3 */
@-webkit-keyframes circle3 {
	0%,
	5%,
	95%,
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 0.75;
	}
}
@keyframes circle3 {
	0%,
	5%,
	95%,
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 0.75;
	}
}
/* Value */
@-webkit-keyframes ovValue {
	0%,
	5%,
	95%,
	100% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes ovValue {
	0%,
	5%,
	95%,
	100% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
