#nameTitleSvgContainer {
	overflow: visible;
	/* background-color: rgba(255, 0, 0, 0.5); */
}
#nameTitleSvgContainer svg {
	background-color: rgba(255, 0, 0, 0.5);
	overflow: visible;
	transform-style: preserve-3d;
	transition: 0.25s all ease-in;
}
#nameTitleSvgContainer svg:hover {
	transform-origin: 50% 50%;
	transform: perspective(300px) rotate3d(0, 0, 1, -15deg);
}
#nameTitleSvgContainer svg > * {
	transition: all 0.5s ease;
	perspective-origin: 10% 50%;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

/*Default raise*/
#nameTitleSvgContainer svg > *:nth-child(1) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) translateZ(-100px);
}

#nameTitleSvgContainer svg > *:nth-child(2) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) translateZ(0px);
}

#nameTitleSvgContainer svg > *:nth-child(3) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) translateZ(60px);
}

#nameTitleSvgContainer svg > *:nth-child(4) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) translateZ(80px);
}

#nameTitleSvgContainer svg > *:nth-child(5) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) translateZ(100px);
}
#nameTitleSvgContainer svg > *:nth-child(6) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) translateZ(120px);
}
#nameTitleSvgContainer svg > *:nth-child(7) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) translateZ(140px);
}
/*HOVER*/
#nameTitleSvgContainer svg > *:nth-child(1) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) rotate3d(30deg, 20deg, -20deg)
		translateX(-30px) translateY(-100px) translateZ(-200px);
}

#nameTitleSvgContainer svg > *:nth-child(2) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) rotate3d(30deg, 20deg, -20deg)
		translateY(97px) translateZ(-109px);
}

#nameTitleSvgContainer svg > *:nth-child(3) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) rotate3d(30deg, 20deg, -20deg)
		translateZ(60px);
}

#nameTitleSvgContainer svg > *:nth-child(4) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) rotate3d(30deg, 20deg, -20deg)
		translateZ(80px);
}

#nameTitleSvgContainer svg > *:nth-child(5) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) rotate3d(30deg, 20deg, -20deg)
		translateZ(100px);
}
#nameTitleSvgContainer svg > *:nth-child(6) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) rotate3d(30deg, 20deg, -20deg)
		translateX(-170px) translateY(225px) translateZ(120px);
}
#nameTitleSvgContainer svg > *:nth-child(7) {
	perspective-origin: 100% 0%;
	transform: perspective(300px) rotate3d(30deg, 20deg, -20deg)
		translateZ(140px);
}
