#nameTitleSvgContainer {
	/* background: rgba(255, 0, 0, 0.25); */
	padding: 0 60% 0 5%;
	z-index: 1000;
	height: 100%;
	overflow: visible;
	position: relative;
}

#nameTitleSvgContainer svg {
	position: absolute;
	top: 7vh;
	left: 10vh;
	width: auto;
}

#nameTitleSvgContainer svg {
	height: 100%;
	overflow: visible;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: all 2.5s ease-in-out;
}

/*3D Transform*/

/* Quadrilateral */
#nameTitleSvgContainer.hover svg:nth-child(1) {
	transform: perspective(1000px) rotateX(80deg) rotateZ(-40deg)
		translate3d(0, 0, -7rem);
}

/* ImgBG Ellipse */
#nameTitleSvgContainer.hover svg:nth-child(2) {
	transform: perspective(1000px) rotateX(80deg) rotateZ(-40deg)
		translate3d(0, 2rem, -4rem);
}

/* ImgBG Ellipse */
#nameTitleSvgContainer.hover svg:nth-child(3) {
	transform: perspective(1000px) rotateX(50deg) rotateY(20deg) rotateZ(-40deg)
		translate3d(0, 0, -1rem);
}

#nameTitleSvgContainer.hover svg:nth-child(4) {
	transform: perspective(1000px) rotateX(50deg) rotateY(20deg) rotateZ(-40deg)
		translate3d(0, 0, 1rem);
}

#nameTitleSvgContainer.hover svg:nth-child(5) {
	transform: perspective(1000px) rotateX(50deg) rotateY(20deg) rotateZ(-40deg)
		translate3d(0, 0, 3rem);
}
#nameTitleSvgContainer.hover svg:nth-child(6) {
	transform: perspective(1000px) rotateX(50deg) rotateY(20deg) rotateZ(-40deg)
		translate3d(0, 0, 5rem);
}
#nameTitleSvgContainer.hover svg:nth-child(7) {
	transform: perspective(1000px) rotateX(50deg) rotateY(20deg) rotateZ(-40deg)
		translate3d(0, 0, 7rem);
}
