@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	90% {
		opacity: 0;
		transform: scale(10);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}

@keyframes riseAndDrop2 {
	0%,
	100% {
		transform: perspective(100px) translateZ(-100px);
	}
	50% {
		transform: perspective(1000px) translateZ(100px);
	}
}

@keyframes riseAndDrop {
	0% {
		transform: perspective(500px) translateZ(0px);
	}
	50% {
		transform: perspective(150px) translateZ(50px);
	}
	100% {
		transform: perspective(500px) translateZ(0px);
	}
}

@keyframes spinCircle {
	0% {
		transform: perspective(1000px) rotateX(0deg) rotateY(20deg)
			rotateZ(0deg);
	}

	50% {
		transform: perspective(1000px) rotateX(180deg)
			translateY(40px rotateZ(180deg)) translateZ(70px);
	}

	100% {
		transform: perspective(1000px) rotateX(360deg) rotateY(20deg)
			rotateZ(360deg);
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(5) rotate(0deg);
		top: -10%;
		left: 25%;
	}

	50% {
		transform: scale(5) rotate(180deg);
		top: -50%;
		left: -75;
	}

	100% {
		transform: scale(5) rotate(360deg);
		top: -10%;
		left: 25%;
	}
}
