.footer {
	background: black;
	padding: 2rem 1rem;
	border-top: 5px solid #008cff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	.pageVisits {
		border-left: 5px solid gray;
		padding: 1rem 1.5rem;
		margin: 1rem;
		max-width: 20rem;

		.visit-counts {
			display: flex;
			justify-content: space-between;
		}
	}
	.technologies {
		padding: 1rem 1.5rem;
		margin: 1rem;
		max-width: 20rem;
		.siteLogoImg {
			width: 10rem;
		}
		.techLabel {
			padding-bottom: 0.5rem;
		}
		.techContainer {
			display: grid;
			grid-template-columns: 2.5rem auto;
			img {
				height: 1.75rem;
			}
		}
	}

	.newIpDetailsContainer {
		border-left: 5px solid gray;
		padding: 1rem 1.5rem;
		margin: 2rem;
		max-width: 20rem;
		// background-color: red;
		.ipDetailsLabel {
			display: flex;
			align-items: center;

			.ipstackA {
				img {
					height: 1.75rem;
					border-radius: 500px;
					margin-left: 1rem;
				}
			}
		}
		.ipAddressValue {
			letter-spacing: 3px;
			margin-top: 5px;
		}
		.ipLocationPlace {
			margin-top: 5px;
			word-spacing: 0.25rem;
		}
		.ipLocationCountry {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 2px;

			img {
				height: 1.5rem;
				margin-left: 1rem;
				border-radius: 10px 3px 3px 10px;
				border-radius: 3px;
			}
		}
	}
}
/* IP DETAILS */
#ipDetailsContainer {
	display: block;
	grid-template-columns: 1fr;
	grid-column-gap: 1rem;
	padding: 1rem;

	background: rgba(255, 255, 255, 0.1);
	margin: 1rem 2rem;
	border-radius: 0.5rem;
	position: relative;
	padding-top: 1.5rem;

	#ipDetailsLabel {
		position: absolute;
		top: -0.75rem;
		width: 100%;
		text-align: center;

		span {
			font-size: 1.5rem;
			font-weight: bold;
			letter-spacing: 2px;

			background-color: #008cff;
			padding: 0.25rem 1rem;
			border-radius: 1000px;

			display: inline-flex;
			justify-content: space-between;
			align-items: center;

			#ipstackA {
				img {
					height: 2rem;
					border-radius: 500px;
					margin-left: 1rem;
				}
			}
		}
	}

	#ipstackA {
		img {
			height: 2rem;
			border-radius: 500px;
			margin-left: 1rem;
		}
	}

	#ipAddressContainer {
		background-color: rgba(0, 140, 255, 0.75);
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 4rem 4rem 0.5rem 0.5rem;
		padding: 0.5rem 1rem;
		margin: 1rem 0;
		text-align: center;

		#ipAddressLabel {
			font-size: 0.75rem;
			letter-spacing: 2px;
			width: 100%;
		}
		h3 {
			margin-top: 0.5rem;
			letter-spacing: 2px;
			font-size: 1.75rem;
			text-align: center;
		}
	}

	#ipLocationContainer {
		background-color: rgba(0, 140, 255, 0.75);
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 0.5rem 0.5rem 4rem 4rem;
		padding: 0.5rem 1rem;
		text-align: center;

		#ipLocationLabel {
			font-size: 0.75rem;
			letter-spacing: 2px;
		}

		img {
			height: 1rem;
			object-fit: contain;
			margin-right: 1rem;
			border-radius: 0.25rem;
			overflow: hidden;
		}
	}
}
