#projects {
	background: #1c1c28;
}

#proj-cards::-webkit-scrollbar {
	display: none;
}

#proj-cards {
	margin: 4rem 1rem 6rem 1rem;
	overflow-x: hidden;
	overflow-y: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-column-gap: 0;
	grid-row-gap: 2rem;
}

.project-card-new {
	position: relative;
	display: grid;
	grid-template-columns: 3rem 1fr 3rem;
	width: 100%;
}

.tech-flex-container {
	position: relative;
	left: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

.tech-flex-container img {
	z-index: 50;
	width: 3rem;
	height: 3rem;
	object-fit: contain;
	padding: 0.1rem;
	margin: 0.25rem;
	border-radius: 15px;
}

.links-flex-container {
	position: relative;
	left: -1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

.links-flex-container img {
	z-index: 50;
	width: 3rem;
	height: 3rem;
	object-fit: contain;
	padding: 0.1rem;
	margin: 0.25rem;
	border-radius: 15px;
	transition: all 0.1s ease;
	animation: pulsateLinks infinite 1s;
}
.links-flex-container img:hover {
	animation: none;
	width: 3.5rem;
	height: 3.5rem;
}

.project-desc-container {
	background-color: black;
	border-radius: 0 0 0.2rem 0.5rem;
	box-shadow: 0 -0.2rem 0.5rem black;
	padding: 0;
}
.project-desc-container ul {
	width: 100%;
}
.project-desc-container li {
	padding: 0.3rem 0.3rem 0.3rem 3rem;
	font-size: 0.9rem;
	font-weight: 500;
	letter-spacing: 0.01rem;
}

.project-desc-container li:nth-child(odd) {
	background-color: #171717;
}

.project-title {
	background-color: black;
	background-color: #1b9cfc;
	border-radius: 0.5rem 0.5rem 0 0;
	box-shadow: 0 0.2rem 0.5rem black;
	padding: 0.5rem 2.5rem !important;
	transition: all 0.5s ease;
	position: relative;
	overflow: hidden;
}

.project-title h1 {
	color: black;
	font-weight: 800;
	text-shadow: 0 0 0.3rem grey;
	margin-bottom: 0 !important;
	font-size: 1.5rem;
}

.project-number {
	position: absolute;
	top: 0;
	right: 0;

	color: black;

	font-size: 0.6rem;
	letter-spacing: 0.1rem;
	text-shadow: 0 0 0.2rem black;

	background-color: rgba(255, 255, 255, 0.75);

	padding: 0 0.25rem;

	border-radius: 0 0 0 0.5rem;

	opacity: 0.75;
	z-index: 1000;
}

@media screen and (max-width: 1100px) {
	#proj-cards {
		margin: 4rem 1rem 6rem 1rem;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr;
		grid-column-gap: 0;
		grid-row-gap: 2rem;
	}
}

@media screen and (max-width: 768px) {
	#proj-cards {
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		grid-column-gap: 0;
		grid-row-gap: 3rem;
	}
}

@keyframes pulsateLinks {
	0% {
		width: 3rem;
		height: 3rem;
	}
	25% {
		width: 3.1rem;
		height: 3.1rem;
	}
	50% {
		width: 3.2rem;
		height: 3.2rem;
	}
	75% {
		width: 3.1rem;
		height: 3.1rem;
	}
	100% {
		width: 3rem;
		height: 3rem;
	}
}
